.navbar{
  background-color: $blue;

&__list{
   display: none;
    padding: 0;

     @media( min-width: $md-width ){
       display: flex;
       justify-content: end;
    }
}

li{
    display: flex;
    list-style: none;

    @media( min-width: $md-width ){
     display: block;
    }
  }

  &__link a{
    color: $white;
    margin: 5px;
  }
}

  .hamburger-react{
      color: $white;
      margin-top: 72px;
      margin-top: -45px;
      position: absolute;

      @media(min-width: $md-width){
        display: none;
  }
}

.active{
  display: block
}

.link{
  color: $white;
  margin: 5px;
  text-decoration: none;
}

.link:hover, .link:focus{
  color: $green;
  transition: .5s ease-in-out;
  cursor: pointer;
}
