// Colours
$black: #000;
$white: #fff;
$grey: #DAE2EC;
$blue: #2D364E;
$green: #2CAEBA;
$blueWhite: #F1F5F8;
$metalBlue: #324D67;
$lightBlue: #617D98;

// Fonts
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Open+Sans&family=Sofia&display=swap');
$mainFont: 'Open Sans', sans-serif;

$font-s: 16px;
$font-l: 18px;
$font-xl: 22px;
$font-xxl: 26px;

// Media queries
$xl-width: 1100px;
$lg-width: 900px;
$md-width: 768px;
$sm-width: 550px;

// Global styles
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: $mainFont;
  background-color: $blueWhite;
  overflow-x: hidden;
  width: 100vw;
}

//Buttons
.main__btn {
  color: $white;
  background-color: $blue;
  border: solid 1px $green;
  border-radius: 5px;
  padding: 5px 10px;
  letter-spacing: 2px;
}

.main__btn:hover,
.main__btn:focus {
  background-color: $green;
  color: $blue;
  transition: .5s ease-in-out;
}

// Components/ Blocks
@import "../components/Footer/Footer.scss";
@import "../components/Header/Navbar.scss";
@import "../components/Masthead/Masthead.scss";
@import "../components/About/About.scss";
@import "../components/Services/Service";
@import "../components/Services/ServiceCard";
@import "../components/Contact/Contact";
@import "../components/Contact/ContactForm";
@import "../components/Projects/Featured";
@import "../components/Projects/ProjectCard";

// Pages
@import "../pages/notFound";