.contact {
  background-color: $blueWhite;

  &__line {
    border-top: solid $green 5px;
    width: 100px;
    margin-top: -10px;
  }

  h2 {
    color: $blue;
  }

  p {
    @media(min-width: $md-width) {
      width: 80%;
    }
  }

  &__phone__logo {
    font-size: 30px;
    color: $blue;
  }

  &__number {
    margin-left: 10px;
    color: $blue !important
  }

  &__email {
    margin-left: 10px;
    color: $blue !important
  }

  &__mail__logo {
    font-size: 30px;
    color: $blue;
  }

  &__list {
    list-style: none;
    padding: 0;
  }
}