.not__found {
  background-color: $blueWhite;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 30px;
  justify-content: center;

  &__link {
    color: $blue;
  }

  &__link:hover,
  &__link:focus {
    color: $green;
  }

  &__infomation {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
}