.project__card{
  padding: 10px;
  width: 100%;
  -webkit-box-shadow: -1px 8px 17px 2px rgba(218,226,236,0.8);
  box-shadow: -1px 8px 17px 2px rgba(218,226,236,0.8);
  background-color: $white;

   @media( min-width: $md-width ){
      position: absolute;
      margin-top: -385px;
      width: 600px;
      margin-left: 20%;
    }

  h5{
    color: $blue;
  }

  p{
    color: $blue;
  }

  &__github{
    font-size: 23px;
    color: $blue;
  }

   &__github:hover, &__github:focus{
    color: $green !important;
    transition: .5s ease-in-out;
  }

   &__link{
    font-size: 20px;
    margin-left: 10px;
    color: $blue;
    margin-top: -1.5px;
  }

  &__link:hover, &__link:focus{
    color: $green !important;
    transition: .5s ease-in-out;
  }
}
